<!-- Form controls -->
<form action="/staffs/store" method='POST'>
    <div class='col-md-6'>
        <div class='card mb-4'>
            <h5 class='card-header'>Create New Staffs</h5>
            <div class='card-body'>
                <div class='mb-3'>
                    <label for='name' class='form-label'>Ho Ten</label>
                    <input
                        type='text'
                        name='HoTen'
                        class='form-control'
                        id='hoten'
                        placeholder='Ho Ten input here...'
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="ngaysinh" class="col-md-2 col-form-label">Ngay Sinh</label>
                    <div class="col-md-12">
                        <input class="form-control" name="NgaySinh" type="date" value="2021-06-18" id="ngaysinh" />
                    </div>
                </div>
                <div class='mb-3'>
                    <label
                        for='quequan'
                        class='form-label'
                    >Que Quan</label>
                    <input
                        class='form-control'
                        name='QueQuan'
                        type='text'
                        id='quequan'
                        required
                        placeholder='Que Quan input here...'
                    />
                </div>
                <div class="mb-3">
                    <small class="text-light fw-semibold">Gioi Tinh</small>
                    <div class="form-check">
                        <input
                            name="GioiTinh"
                            class="form-check-input"
                            type="radio"
                            value="Nam"
                            id="defaultRadio1"
                            checked
                        />
                        <label class="form-check-label" for="defaultRadio1"> Nam </label>
                    </div>  
                    <div class="form-check mt-3">
                        <input
                            name="GioiTinh"
                            class="form-check-input"
                            type="radio"
                            value="Nu"
                            id="defaultRadio2"
                        />
                        <label class="form-check-label" for="defaultRadio2"> Nu </label>
                    </div>
                    <div class="form-check mt-3">
                        <input
                            name="GioiTinh"
                            class="form-check-input"
                            type="radio"
                            value="Khac"
                            id="defaultRadio3"
                        />
                        <label class="form-check-label" for="defaultRadio3"> Khac </label>
                    </div>
                    
                </div>
                <div class='mb-3'>
                    <label for='date-string' class='form-label'>Dan Toc</label>
                    <input
                        class='form-control'
                        name='DanToc'
                        type='text'
                        id='date-string'
                        placeholder='Dan Toc input here...'
                    />
                </div>
                <div class='mb-3'>
                    <label for='date-string' class='form-label'>So Dien Thoai</label>
                    <input
                        class='form-control'
                        name='SoDienThoai'
                        type='number'
                        id='date-string'
                        placeholder='So Dien Thoai input here...'
                    />
                </div>

                <div class="mb-3">
                    <label for="ngaytotnghiep" class="col-md-2 col-form-label">Ngay Tot Nghiep</label>
                    <div class="col-md-12">
                        <input class="form-control" name="NgayTotNgiep" type="date" value="2021-06-18" id="ngaytotnghiep" />
                    </div>
                </div>
                <div class='mb-3'>
                    <label
                        for='truongtheohoc'
                        class='form-label'
                    >Truong theo hoc</label>
                    <input
                        class='form-control'
                        name='TruongTheoHoc'
                        type='text'
                        id='truongtheohoc'
                        placeholder='Truong Theo Hoc input here...'
                    />
                </div>
                <div class='mb-3'>
                    <label
                        for='exampleFormControlSelect1'
                        class='form-label'
                    >MaPB</label>
                    <select
                        name="MaPB"
                        class='form-select'
                        id='exampleFormControlSelect1'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaPB}}
                        <option value={{this.MaPB}}>{{this.MaPB}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='exampleFormControlSelect1'
                        class='form-label'
                    >MaTDHV</label>
                    <select
                        name="MaTDHV"
                        class='form-select'
                        id='exampleFormControlSelect1'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaTDHV}}
                        <option value={{this.MaTDHV}}>{{this.MaTDHV}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='exampleFormControlSelect1'
                        class='form-label'
                    >BacLuong</label>
                    <select
                        name="BacLuong"
                        class='form-select'
                        id='exampleFormControlSelect1'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each BacLuong}}
                        <option value={{this.BacLuong}}>{{this.BacLuong}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='exampleFormControlSelect1'
                        class='form-label'
                    >MaKhu</label>
                    <select
                        name="MaKhu"
                        class='form-select'
                        id='exampleFormControlSelect1'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaKhu}}
                        <option value={{this.MaKhu}}>{{this.MaKhu}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='exampleFormControlSelect1'
                        class='form-label'
                    >MaCV</label>
                    <select
                        name="MaCV"
                        class='form-select'
                        id='exampleFormControlSelect1'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaCV}}
                        <option value={{this.MaCV}}>{{this.MaCV}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='exampleFormControlSelect1'
                        class='form-label'
                    >MaHD</label>
                    <select
                        name="MaHD"
                        class='form-select'
                        id='exampleFormControlSelect1'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                       {{#each MaHD}}
                        <option value={{this.MaHD}}>{{this.MaHD}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <button type='submit' class='btn btn-outline-primary'>
                        <span class='tf-icons bx bx-plus-circle'></span>&nbsp;
                        Create Staff
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>