<!-- Form controls -->
<form action="/staffs/store" method='POST'>
    <div class='col-md-6'>
        <div class='card mb-4'>
            <h5 class='card-header'>Create New Staffs</h5>
            <div class='card-body'>
                <div class='mb-3'>
                    <label for='fullName' class='form-label'>Full Name</label>
                    <input
                        type='text'
                        name='fullName'
                        class='form-control'
                        id='fullName'
                        placeholder='Full Name input here...'
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="DoB" class="col-md-2 col-form-label">Date of Birth</label>
                    <div class="col-md-12">
                        <input class="form-control" name="DoB" type="date" value="2021-06-18" id="DoB" />
                    </div>
                </div>
                <div class='mb-3'>
                    <label
                        for='homeTown'
                        class='form-label'
                    >Home Town</label>
                    <input
                        class='form-control'
                        name='homeTown'
                        type='text'
                        id='homeTown'
                        required
                        placeholder='Home Town input here...'
                    />
                </div>
                <div class="mb-3">
                    <small class="text-light fw-semibold">Sex</small>
                    <div class="form-check">
                        <input
                            name="sex"
                            class="form-check-input"
                            type="radio"
                            value="Nam"
                            id="defaultRadio1"
                            checked
                        />
                        <label class="form-check-label" for="defaultRadio1"> Nam </label>
                    </div>  
                    <div class="form-check mt-3">
                        <input
                            name="sex"
                            class="form-check-input"
                            type="radio"
                            value="Nu"
                            id="defaultRadio2"
                        />
                        <label class="form-check-label" for="defaultRadio2"> Nu </label>
                    </div>
                    <div class="form-check mt-3">
                        <input
                            name="sex"
                            class="form-check-input"
                            type="radio"
                            value="Khac"
                            id="defaultRadio3"
                        />
                        <label class="form-check-label" for="defaultRadio3"> Khac </label>
                    </div>
                    
                </div>
                <div class='mb-3'>
                    <label for='date-string' class='form-label'>Nation</label>
                    <input
                        class='form-control'
                        name='nation'
                        type='text'
                        id='date-string'
                        placeholder='Nation input here...'
                    />
                </div>
                <div class='mb-3'>
                    <label for='date-string' class='form-label'>Phone Number</label>
                    <input
                        class='form-control'
                        name='phoneNumber'
                        type='number'
                        id='phoneNumber'
                        placeholder='Phone Number input here...'
                    />
                </div>

                <div class="mb-3">
                    <label for="graduationDate" class="col-md-2 col-form-label">Graduation Date</label>
                    <div class="col-md-12">
                        <input class="form-control" name="graduationDate" type="date" value="2021-06-18" id="graduationDate" />
                    </div>
                </div>
                <div class='mb-3'>
                    <label
                        for='university'
                        class='form-label'
                    >University</label>
                    <input
                        class='form-control'
                        name='university'
                        type='text'
                        id='university'
                        placeholder='University input here...'
                    />
                </div>
                <div class='mb-3'>
                    <label
                        for='departmentId'
                        class='form-label'
                    >Department Id</label>
                    <select
                        name="departmentId"
                        class='form-select'
                        id='departmentId'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaPB}}
                        <option value={{this.MaPB}}>{{this.MaPB}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='literacyId'
                        class='form-label'
                    >Literacy Id</label>
                    <select
                        name="literacyId"
                        class='form-select'
                        id='literacyId'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaTDHV}}
                        <option value={{this.MaTDHV}}>{{this.MaTDHV}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='salaryScale'
                        class='form-label'
                    >Salary Scale</label>
                    <select
                        name="salaryScale"
                        class='form-select'
                        id='salaryScale'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each BacLuong}}
                        <option value={{this.BacLuong}}>{{this.BacLuong}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='area'
                        class='form-label'
                    >Area</label>
                    <select
                        name="area"
                        class='form-select'
                        id='area'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaKhu}}
                        <option value={{this.MaKhu}}>{{this.MaKhu}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='position'
                        class='form-label'
                    >Position</label>
                    <select
                        name="position"
                        class='form-select'
                        id='position'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                        {{#each MaCV}}
                        <option value={{this.MaCV}}>{{this.MaCV}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <label
                        for='laborContract'
                        class='form-label'
                    >Labor Contract</label>
                    <select
                        name="laborContract"
                        class='form-select'
                        id='laborContract'
                        aria-label='Default select example'
                    >
                        <option selected>Open this select menu</option>
                       {{#each MaHD}}
                        <option value={{this.MaHD}}>{{this.MaHD}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class='mb-3'>
                    <button type='submit' class='btn btn-outline-primary'>
                        <span class='tf-icons bx bx-plus-circle'></span>&nbsp;
                        Create Staff
                    </button>
                </div>
            </div>

        </div>
    </div>
</form>